<%# locals: (membership_templates:) -%>

<table class="table table-lg">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Attendance</th>
      <th class="w-20">Enrollments</th>
      <th class="w-20">Expired</th>
      <th class="w-20"></th>
    </tr>
  </thead>
  <tbody>
    <%= render membership_templates %>
  </tbody>
</table>
