<div class="panel mt-8 max-w-5xl mx-auto">
  <div class="text-base-content text-xl pb-2 flex gap-3">
    <%= link_to :back, class: "btn btn-ghost btn-sm" do %>
      <%= icon(:arrow_left, class: "size-6") %>
    <% end %>
    <div>Edit <%= @membership_template.name %></div>
  </div>

  <%= render 'membership_templates/form', membership_template: @membership_template %>
</div>
