<div class="panel mt-8 max-w-5xl mx-auto">
  <div class="text-base-content text-xl pb-3 flex justify-between">
    <div>Membership Templates</div>

    <% if policy(MembershipTemplate).new? %>
      <%= link_to new_membership_template_path, class: "btn btn-sm btn-primary" do %>
        Add New

        <%= icon(:plus, suffix: "16-solid", class: "size-4") %>
      <% end %>
    <% end %>
  </div>

  <div class="panel">
    <% if @membership_templates.any? %>
      <%= render "membership_templates", membership_templates: @membership_templates %>
    <% else %>
      <div class="flex flex-col items-center py-4">
        <%= icon(:user_group, class: "size-12") %>

        <div>
          No Membership Templates Found
        </div>
      </div>
    <% end %>
  </div>
</div>
