@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.panel {
  @apply bg-neutral rounded-3xl overflow-hidden p-4;
}

.panel .panel {
  @apply bg-base-300 rounded-xl p-4;
}

.panel .panel .panel {
  @apply bg-neutral rounded p-4;
}

.label {
  @apply px-1 py-0 pb-1;
  @apply justify-start gap-0.5;
}

.required:after {
  content: "*";

  @apply text-error;
}

[hidden] {
  @apply !hidden;
}
